html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.notes-menu {
    background-color:lemonchiffon;
    width: 200px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px lightgray;
}

.add-note-button {
    transition: all ease-in-out 0.5s;
    width: 30px;
    height: 30px;
    padding: 10px;
    margin: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: lemonchiffon;
    border-radius: 40px;
    box-shadow: 10px 10px 10px lightgray;
    cursor: pointer;
}

.add-note-button img {
    width: 30px;
}

.add-note-button:hover {
    width: 80px;
}